body {
  background-image: url("../images/palms-bg.png");
}

p {
  font-weight: 300;
  font-size: 16px;
}

.keno {
  color: red;
}

.my-nav {
  margin-bottom: 0;
  background: #fff;
  border: none;
}

li.current-page {
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fbac12;
  background-color: #fff !important;
}

ul.nav.navbar-nav li {
  font-weight: 300;
}

ul.nav.navbar-nav {
  float: right;
}

ul.nav.navbar-nav li a {
  color: rgb(5, 5, 5);
  font-size: 18px;
}

img.logo {
  height: 24px;
}

/*My Carousel*/

.my-carousel {
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-caption h3 {
  display: block;
  margin-bottom: 40px;
}

.carousel-caption h3, .carousel-caption p {
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.carousel-caption a {
  font-size: 18px;
  color: #fff;
}

.my-sticker-row h2 {
  color: #fff;
}

/*Pitch*/

.pitch strong {
  /*display: block;*/
}

/*General Changes Mudanzas CRC*/

li {
  font-weight: 300;
}

/*Nuestros Servicios*/

.nuestros-servicos ul {
  list-style: none;
}

.nuestros-servicos img {
  margin: 0 auto;
  width: 180px;
}

.banner-home {
  margin: 40px auto;
}

/*Nuestra Mision*/
.nm-text {
  padding: 20px;
  background-image: url("../images/mudanza-equipo.png");
}

.nuestra-mision h1, .nuestra-mision h2 {
  font-weight: 300;
}

.container.nuestra-mision .row{
  background-image: url("../images/mudanza-equipo.jpg");
  background-size: cover;
  padding: 30px;
}

/*Nosotros*/

.nosotros-sec {
  padding-top: 30px;
}

/*Form @ Nosotros*/
.col-sm-12.form-btn {
  padding: 20px 20px 0px 20px;
}


/*Califica @ FormDiv*/
.form-div {
  background: #e80000;
  color: #fff;
  padding: 50px 0;
  border-radius: 15px;
}

.border-15{
  border-radius: 15px;
}

.col-sm-12.form-btn button {
  color: #fff;
  background-color: #d21e27;
  border-color: #fff;
}

/*Small Ads*/

.gray-ad {
  background: #f5f5f5;
  margin: 30px 0px;
}

.gray-ad img {
  padding: 30px;
  margin: 0 auto;
  width: 300px;
}

.gray-ad h3 {
  font-weight: 300;
  font-size: 32px;
}

.gray-ad p {
  font-size: 14px;
}

.red-ad {
  background: #d21e27;
  padding: 50px;
}

.red-ad p {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

/*Recorda*/

.recorda li {
  margin-bottom: 10px;
  font-weight: 100;
}

.recorda h4 {
  font-size: 28px;
}

.recorda-opts li {
  list-style: none;
}

.recorda-opts {
  border-left-style: solid;
  border-left-width: 1px;
  margin: 40px 0;
}

.recorda-opts-2 {
  border-right-style: solid;
  border-right-width: 1px;
  /*margin: 40px 0;*/
}

/*Clear Fix*/
.clearfix {
  padding: 40px;
}

/*10 Consejos*/

.consejos img {
  width: 180px;
  margin: 0 auto;
}

.consejos li {
  list-style: none;
  margin-bottom: 10px;
}

/*My Goals*/

.my-goals img {
  margin: 0 auto;
}

.row.my-goals.text-center div {
  margin-bottom: 10px;
}

button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-style: none;
  padding: 7px 30px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

/*Model Stickers*/

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */

.column {
  float: left;
  width: 20%;
  text-align: center;
}

.column .demo {
  width: 80%;
}

/*Progress*/

.my-progress img {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

/*Get Yours*/

.get-yours ul li {
  font-weight: 300;
}

.get-yours h3 {
  text-align: center;
  font-size: 34px;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-image: url("../images/sticker-wood.png");
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.mySlides img {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* The Close Button */

.close {
  color: #ff2a21;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: bold;
  opacity: 0.9;
}

.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #000;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */

.caption-container {
  text-align: center;
  /*background-color: black;*/
  padding: 2px 16px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
  font-size: 30px;
}

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Sticker Container*/

.my-stickers-container {
  background-image: url("../images/sticker-wood.png");
  padding: 30px 0 70px 0;
  margin-bottom: 70px;
}

.my-stickers-container p, .my-stickers-container h3 {
  color: #fff;
  display: none;
}

.my-stickers-container img {
  padding: 10px;
  margin: 0 auto;
}

.my-stickers-container img:hover, .my-stickers-container img:focus, .my-stickers-container img:active {
  padding: 0px;
}

/* WCW */

.wcw i {
  font-size: 13px;
  font-weight: bold;
}

/*Get Yours */

li.li-sm {
  font-size: 11px;
  font-weight: bold !important;
  list-style-type: none;
  padding-bottom: 5px;
}

input[type="radio"] {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.center-img img {
  margin: 0 auto;
}

/*Contact Sticky Note*/

.glyphicon {
  font-size: 20px !important;
  padding: 7px 30px !important;
}

.sticky-note {
  background: #fbf966;
  box-shadow: -5px 8px 7px #b0b1ae;
  height: 420px;
  width: 420px;
  display: block;
  margin: 0 auto;
}

.sticky-note p {
  padding: 20px 10px 10px 10px;
  /*font-weight: bold;*/
}

p#contact-text a {
  color: #000;
}

.sticky-note p span {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  display: block;
}

.sticky-note img {
  padding: 0px 40px 0px 40px;
}

.my-form {
  padding: 20px;
}

.my-contact-container {
  margin-bottom: 40px;
}

.my-shops-container h4 img {
  width: 50px;
  height: 50px;
}

.container.my-shops-container h4 {
  text-align: right;
}

.myfield {
  background: #faf97a;
  border-style: none none solid none;
  border-bottom-width: 5px;
  border-bottom-color: #000;
  margin-bottom: 10px;
  border-radius: inherit;
}

.mybtn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: initial;
  font-size: 18px;
  padding: 10px 50px;
}

.mybtn:hover {
  color: #fff;
  background-color: #545454;
  border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e70000;
}

/*Notes
  
  https://image.ibb.co/iEiha8/boca_1.png //dientes
  https://image.ibb.co/hBDha8/boca_2.png //muy feliz
  https://image.ibb.co/jGDha8/boca_3.png //muy triste
  https://image.ibb.co/juq62o/boca_4.png //normal
  
  https://image.ibb.co/gpQH8T/eyes_1.png //normal 0
  https://image.ibb.co/gqCav8/eyes_2.png //asustado 1
  https://image.ibb.co/czUzNo/eyes_3.png //cansado 2
  https://image.ibb.co/ivCav8/eyes_4.png //corazones 3
  https://image.ibb.co/mX1qTT/eyes_5.png //gafas 4
  https://image.ibb.co/hJEzNo/eyes_6.png //cerrados 5
  https://image.ibb.co/iWWP58/eyes_7.png //lado 6
  
  https://image.ibb.co/bH7KNo/head.png//normal
  https://image.ibb.co/jsjNso/head_2.png //lado
  
  */

/*
  How Everything Started
  https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html*/

/*Prefooter
  vvvvvvvvvvvvvvvvvvv*/

.copy-right p {
  font-size: 12px;
  padding-top: 10px;
}

.my-ft-container li {
  padding: 3px;
}

.myprefooter a {
  color: #333333;
}

.social-footer a {
  display: inline-block;
}

.my-ft-container ul {
  list-style: none;
}

.row.myprefooter p {
  display: inline-block;
}

.row.myprefooter {
  background: #fafafa;
  margin-top: 30px;
  border-top-style: solid;
  border-top-color: #dfdfdf;
  border-top-width: 5px;
}

.myprefooter img {
  margin: 10px auto;
  display: block;
}

footer a {
  color: #fff;
}

footer img {
  /*margin: 7px;*/
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #009245;
  height: 70px;
  padding-top: 15px;
  font-weight: bold;
}

.tico img {
  float: right;
}

/*Drybudz Styles*/

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 30px 0;
}

.imageWidget {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.imageWidget img {
  width: 100%;
}

html.magnifying>body {
  overflow-x: hidden !important;
}

.magnify {
  position: relative;
  display: inline-block;
}

.magnify .magnify-lens {
  /* Create the magnifying lens */
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  /* Multiple box shadows to achieve the glass lens effect */
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /* Hide the mouse pointer */
  cursor: none;
  /* Hide the lens by default */
  display: none;
  /* Place the lens on top of other elements */
  z-index: 100;
}

.magnify .magnify-lens.loading {
  background: #333 !important;
  opacity: 0.75;
}

.magnify .magnify-lens.loading:after {
  /* Loading text */
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: #fff;
  content: 'Loading...';
  font: italic normal 16px/1 Calibri, sans-serif;
  text-align: center;
  text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
  text-transform: none;
}

/*
  img#englishGringo.selected {
    background-image: url("../images/flag-usa-sm-on.png");
  }

  img#espanholTico.selected {
    background-image: url("../images/flag-tico-sm-on.png");
  }*/

.flags {
  margin-top: 20px;
}

/* Media Query - Responsive


https://www.w3schools.com/css/css3_mediaqueries_ex.asp
*/

/*You can also use the (max-width: ..) and (min-width: ..) values to set a minimum width and a maximum width.
For example, when the browser's width is between 600 and 900px, change the appearance of a <div> element:*/

@media only screen and (max-width: 1091px) {
  /*1091 is when the UI changes to tablet*/
  .consejos img {
    margin: 0 auto;
    width: 120px;
  }

}

@media (min-width:32px) and (max-width: 1091px) {
  .recorda-opts {
    border-left-style: none;
    margin: 40px 0;
  }
}
@media (min-width:32px) and (max-width: 845px) {
  ul.nav.navbar-nav {
    float: left;
  }
}

@media (min-width:32px) and (max-width: 991px) {
  .my-stickers-container img {
    width: 100%;
    margin: 0 auto;
  }
  .my-title h2 {
    margin-top: 30px;
    font-size: 38px;
  }
  .my-thumbnail-nav {
    display: none;
  }
  .open-modal-pics .column {
    width: 100%;
  }
  .row {
    margin: 0;
  }
}

@media screen and (min-width: 1px) and (max-width: 480px) {
  img#db-logo {
    width: 100%;
  }
  .sticky-note {
    width: 100%;
  }
  .controls {
    padding-top: 20px;
  }
  #myBtnTop {
    display: none;
  }
  .col-xs-12 .radio-inline {
    margin-left: 5px;
  }
  .carousel-inner, .container-slider {
    display: none;
  }
  .mobile-banner {
    padding: 0;
  }
  .mobile-banner img {
    width: 100%;
  }
  .jumbotron.my-jumbotron.text-center {
    padding: 25px 0px;
  }
  .no-padding {
    padding: 0px;
  }
}

@media screen and (min-width: 481px) {
  .mobile-banner {
    display: none;
  }
  .wcw img {
    padding: 0px 50px 20px 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .controls {
    padding-top: 10px;
  }
  #myBtnTop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /*Back to top
    vvvvvvvvvvvvvv*/
  #myBtnTop {
    display: none;
    /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    height: 50px;
    width: 50px;
    background-image: url("../images/top-arrow-sm.png");
    color: black;
    cursor: pointer;
    padding: 6px 3px;
    border-radius: 50px;
    font-size: 20px;
  }
  #myBtnTop:hover {
    background-color: #dfdfdf;
    /* Add a dark-grey background on hover */
  }
  .recorda h4 {
    font-size: 32px;
    padding-top: 60px;
    padding-bottom: 40px;
    line-height: 42px;
  }
}

/*by @Keno10cr .:*/